@model KidegaApp.DataTransferObjects.Responses.AuthorDisplayResponse

@{
    ViewData["Title"] = Model.FullName;
    var columnCount = 0;
}


<div>
    <h4>@Model.FullName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Yazar Hakkında
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biography)
        </dd>
        <dt class="col-sm-10">
            Eserleri
        </dt>
        <dd>
            <div class="row m-4">
                @foreach (var book in Model.Books)
                {
                    @if (columnCount != 0 && columnCount % 4 == 0)
                    {
                        @:</div><div class="row m-4">
                    }      
                    <div class="col-3">
                       <partial name="_AuthorBookCard" model="book"/>
                    </div>
                      columnCount++;
                }
            </div>
        </dd>
    </dl>
</div>

@section Scripts{
    <script>
        $(document).ready(function(){
            
            $('.basket').on('click',function(){
                let id = $(this).data('id');
                console.log(id)
                $.ajax({
                    url:'/Shopping/AddBook/'+id,
                    type:'GET',
                    success:function(data){
                        console.log(data)
                        location = location
                    },
                    error: function(err){
                        console.log('error: ',error);
                    }
                });
            });
        });
    </script>
}