@{
    ViewData["Title"] = "Order Received";
}

<p>Your order has received. Order details with the invoice will be sent to your mail when job with id: <b>@ViewBag.JobId</b> is completed.</p>

<a></a>
