@{
    ViewData["Title"] = "Order Details";
}

<div class="text-center">
    <h2>Order Details</h2>
    <p>Total Price: 1000 $</p>
    <a class="btn btn-primary" asp-action="ConfirmOrder">Confirm Order</a>
</div>
