@{
    ViewData["Title"] = "Subscribe to News Letter";
}

<div class="text-center">
    <p>Subscribe to our weekly e-mail newsletter to be informed about discounts and campaigns.</p>
    <a class="btn btn-primary" asp-action="SubscribeOperation">Subscribe</a>
</div>