@model PaginationBookViewModel
@{
    ViewData["Title"] = "Kidega Kitap";
    var columnCount = 0;
}

@if (ViewBag.IsSearched)
{
    <p class="m-4">Aramanızla ilgili olabilecek <strong>@Model.Books.Count()</strong> adet sonuç bulundu. </p>
}
<div class="row m-4">
    @foreach (var book in Model.Books)
    {
        @if (columnCount != 0 && columnCount % 4 == 0)
        {
            @:</div><div class="row m-4">
        }      
        <div class="col-3">
           <partial name="_BookCard" model="book"/>
        </div>
          columnCount++;
    }
</div>

<div class="m-4" page-action="Index" page-model="@Model.PagingInfo"></div>


@section Scripts{
    <script>
        $(document).ready(function(){
            
            $('.basket').on('click',function(){
                let id = $(this).data('id');
                console.log(id)
                $.ajax({
                    url:'/Shopping/AddBook/'+id,
                    type:'GET',
                    success:function(data){
                        console.log(data)
                        location = location
                    },
                    error: function(err){
                        console.log('error: ',error);
                    }
                });
            });
        });
    </script>
}