@{
    ViewData["Title"] = "Gizlilik Politikası";
}
<h1>@ViewData["Title"]</h1>

<p>ASP.NET Core üzerinde pratik yapmak amaçlı <a href="https://kidega.com">Kidega</a> klonunu yapmaya çalıştım. Herhangi bir gizlilik şeysi yoktur :)</p>
